{# blog/index.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Accueil|{{ parent() }} {% endblock %}

{% block content %}
    <h1 class="mt-2 text-center">Bienvenu sur la page d'accueil</h1>
    <div class="container-fluid">
        <div class="row g-2">
            <div class="col-12 col-md-8">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title 2
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-2 mt-2">
            <div class="col-12 col-md-3">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card" style="height: 15rem; background: url('https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
                    <div class="card-body d-flex flex-column justify-content-end text-white fw-bold">
                        <div class="card-title">
                            Another title
                        </div>

                        <div class="card-text">
                            14/02/2012
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}